:root {
    --green: #1ed660;
    --black: #020202;
    --black2: #222222;
    --gray: #d8d8d8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: var(--gray);
}

.big-container, .small-container {
    border: 1px solid black;
}

body {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: "pic big" "lettore lettore";
}

a {
    text-decoration: none;
}

/* ======================== Parte di sinistra ======================== */
.small-container {
    grid-area: pic;
    background: var(--black);
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 1600px;
}

.small-container a {
    display: inline-block;
    color: var(--gray);
}

.logo {
    display: flex;
    justify-content: center;
}
.logo img {
    width: 10vw;
}

.top-container .home-buttons, .top-container .music-buttons {
    display: flex;
    flex-direction: column;
}

.top-container {
    justify-content: space-between;
}
.top-container i {
    padding: 5px;
    margin: 0 5px 0 0;
}

.home-buttons {
    margin-bottom: 30px;
}

.bot-container .links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.links a {
    padding: 5px 0;
}
/* ======================== Parte di destra ======================== */
.big-container {
    grid-area: big;
    display: flex;
    flex-direction: column;
    background: var(--black2);
    padding: 0 20px;
}
.big-container h2, .top-buttons h4 {
    padding: 30px 0;
}
.top-buttons {
    display: flex;
    justify-content: space-between;
}

.arrow-buttons {
    padding-top: 10px;
}

.arrow-buttons, .avatar-button {
    display: flex;
    align-self: center;
}
.top-buttons .arrow-buttons a {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 15px;
}

.avatar-button span {
    margin: 0 10px;
}

/* Card Piccole */

.small-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 20px;
}

.small-cards .s-card {
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    background: #363636;
}

.small-cards .s-card img {
    width: 75px;
    height: 75px;
}


.small-cards .s-card p {
    font-weight: bold;
    padding: 10px;
}

/* Card Medie */

.mid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0 10px;
    margin: 5px 0;
}

.m-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding: 15px;
    background: var(--black);
}

.m-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.m-card h4 {
    color: #fff;
    margin: 5px 0;
}

.m-card p {
    display: block;
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 5px 0;
}

.card-body {
    margin: 5px 0;
}

/* ======================== Lettore del play ======================== */
nav {
    grid-area: lettore;
    bottom: 0;
    padding: 5px 5px;
    width: 100%;
    position: fixed;
    background: var(--black2);
}

.console {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Album e nome */
.left-console {
    display: flex;
    align-items: center;
}

.left-console img {
    width: 10vh;
    padding: 5px;
}

.song-name {
    min-width: 10vw;
    padding: 5px;
}

.song-name h6 {
    font-size: 1rem;
    font-weight: bold;
}

.song-name p {
    font-size: 0.8rem;
    font-weight: lighter;
}

/* Play e barra avanzamento */

.center-console {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.music-controls {
    display: flex;
    justify-content: center;
}
.music-controls i {
    width: 5vw;
    margin: 5px 0;
}
.music-bar {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
}

.progress-bar {
    height: 5px;
    width: 60%;
    background: white;
    border-radius: 5px;
}

.shadow-bar {
    height: 5px;
    width: 90%;
    background: gray;
    border-radius: 5px;
}
/* Controlli volume */

.right-console {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}
.right-console i {
    width: 2vw;
}
.volume-bar {
    display: flex;
    align-items: center;
    width: 20%;
}

/* Media Queries */
@media screen and (width: 768px)
    {
        .small-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
